# Carpetas de compilación y temporales
**/bin/
**/obj/
**/.vs/

# Archivos de configuración de usuario
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de caché o temporales de .NET
*.cache
*.db
*.dll

# Archivos del proyecto
API/API/appsettings.Development.json
